.file-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: none;
    padding: 0;
}

.file-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(23% - 16px);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.2s ease;
    justify-content: space-between; /* Ensure space between elements */
    height: 250px; /* Set a fixed height to accommodate elements */
}

.file-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.file-thumbnail {
    width: 100%;
    height: auto;
    max-height: 100px;
    border-radius: 4px;
    object-fit: cover;
}

.file-video {
    width: 100%;
    height: auto;
    max-height: 100px;
    border-radius: 4px;
}

.file-name {
    font-weight: bold;
    margin: 8px 0 4px 0;
    text-align: center;
}

.file-tags {
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

.file-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    align-items: center;
}

.action-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 30px;
    background: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown-menu button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 8px 16px;
    cursor: pointer;
    text-align: left;
    transition: background 0.2s;
}

.dropdown-menu button:hover {
    background: #000;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.delete-button:hover {
    background-color: darkred;
}

.file-item .dropdown-menu {
    display: block;
}

.file-stats {
    font-size: 0.9em;
    color: #666;
    margin-top: auto; /* Push stats to the bottom */
}
